.anchor
.DS_Store
target
node_modules
dist
build
test-ledger

key : 641a51c15b75cd5e8b4c
api secret: 2fc3ad1b488432f5a2afa04c0ee5f354307397fd718321850f6b74afd87e6a7c
api jwt: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzNGE0NmI3OC0yYjNiLTRhZjgtYTJlNi04MzAzYzE2MDEzNmIiLCJlbWFpbCI6InJ1cGVzaEBtZXJjbGUueHl6IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjY0MWE1MWMxNWI3NWNkNWU4YjRjIiwic2NvcGVkS2V5U2VjcmV0IjoiMmZjM2FkMWI0ODg0MzJmNWEyYWZhMDRjMGVlNWYzNTQzMDczOTdmZDcxODMyMTg1MGY2Yjc0YWZkODdlNmE3YyIsImV4cCI6MTc5Mjk0MDU0M30.RhCr9bZDFUTCsVKYk21yOnj47R6JWRYbQcVI9sjrm04